@{
    ViewData["Title"] = "Thank You";
}

<link href="~/css/customer.css" rel="stylesheet" />
<div class="customer-container">
<h1>Thank you!</h1>
<p>Your payment has been successfully processed.</p>
<a asp-action="Index" class="btn btn-primary">Return to Packages</a>
</div>